<ion-view class="overlightblue" view-title="Detalle de la oferta">
    <ion-content>

        <div class="list lightblue seccionoferta">

            <div class="detalleimagenproducto">
                <ul rn-carousel rn-carousel-auto-slide class="carrusel">
                    <li ng-repeat="image in oferta.imagenescargar">
                        <div class="carrusel"><img class="carrusel" ng-src="http://localhost:1337{{image.url}}"></div>
                        <p class="description">{{oferta.titulo}}</p>
                    </li>
                </ul>
            </div>
            <div class="seccionCupon">
            </div>
            <div class="seccionOpciones">

                <ion-list>
                    <ion-item class="item-stable opcionestitle" ng-click="toggleGroup(0)" ng-class="{active: isGroupShown(0)}">
                        &nbsp; Descripción del descuento
                        <i class="icon right" ng-class="isGroupShown(0) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                    </ion-item>
                    <ion-item class="item-accordion opcionesdesc" ng-show="isGroupShown(0)">
                        {{oferta.descripcion}}
                    </ion-item>

                    <ion-item class="item-stable opcionestitle" ng-click="toggleGroup(1)" ng-class="{active: isGroupShown(1)}">
                        <i class="ion-android-share-alt"></i> &nbsp; ¡Comparte este cupón!
                        <i class="icon right" ng-class="isGroupShown(1) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                    </ion-item>
                    <ion-item class="item-accordion opcionesdesc" ng-show="isGroupShown(1)">
                        {{oferta.descripcion}}
                    </ion-item>
                    <ion-item class="item-stable opcionestitle" ng-click="toggleGroup(1)" ng-class="{active: isGroupShown(1)}">
                        <i class="ion-android-share-alt"></i> &nbsp; Mapa de las farmacias donde encontrarlo
                        <i class="icon right" ng-class="isGroupShown(1) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                    </ion-item>
                    <ion-item class="item-accordion opcionesdesc" ng-show="isGroupShown(1)">
                        {{oferta.descripcion}}
                    </ion-item>
                </ion-list>
            </div>


    </ion-content>

</ion-view>
