<ion-view class="overlightblue" view-title="Listado de ofertas">
    <ion-content>

        <ion-list>
            <ion-item class="item-stable opcionestitle" ng-click="toggleGroup(0)" ng-class="{active: isGroupShown(0)}">
                &nbsp; Descripción del descuento
                <i class="icon right" ng-class="isGroupShown(0) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            </ion-item>
            <ion-item class="item-accordion opcionesdesc" ng-show="isGroupShown(0)">
                {{oferta.descripcion}}
            </ion-item>
        </ion-list>
        <div ng-repeat="noticia in noticias" class="list card">
            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>{{noticia.nombre}}</h2>
                <p>{{noticia.date}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="noticia.imagen">
                <p>
                    <span ng-bind="noticia.texto | date:'dd/MM/yyyy'">

                </p>
            </div>
        </div>

    </ion-content>
</ion-view>
