<ion-view>
    <ion-content has-bouncing="false">
        <img id="bgvid" src="./img/background.gif">
        <div id="container"></div>
        <div id="login_contenedor">
            <img src="./img/topinicio.png">
            <div id="taxista_login" ng-show="taxista">
                <input class="textbox" type="text" placeholder="Email" ng-model="email">
                <input class="textbox" type="password" placeholder="Contraseña" ng-model="password">
                <button class="button button-outline button-energized" ng-click="taxista=false">Volver</button>
                <button class="button button-energized" ng-click="login(email,password)">Conectar</button>
            </div>
            <div id="inicioinit" ng-hide="taxista">
                <button class="button button-block button-energized" ng-click="login(email,password)">Entrar</button>
                <button class="button button-block button-outline button-energized" ng-click="taxista=true">Soy un Taxista</button>

            </div>
        </div>
    </ion-content>
</ion-view>
