<ion-view class="lightblue">
    <ion-content>
        <div id="wrapper">
            <div id="header"></div>
            <div id="content">
                <div id="contenedor">
                    <div id="inicio_contenedor">
                        <button class="button button-block button-calm " ng-click="entrar()">Ver descuentos</button>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="condiciones">Pharmaprivé utiliza cookies. Si sigue navegando, se entiende que acepta <a ng-click="condiciones()">las condiciones de uso.</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
