<ion-view>
    <ion-content has-bouncing="false">
        <img id="bgvid" src="./img/background.gif">
        <div id="container"></div>
        <div id="login_contenedor">
            <img src="./img/topinicio.png">

            <input class="textbox" type="text" placeholder="Email" ng-model="email">
            <input class="textbox" type="password" placeholder="Contraseña" ng-model="password">
            <button class="button button-energized" ng-click="login(email,password)">Conectar</button>
            <button class="button button-outline button-energized" ng-click="registro()">Registrarse</button>
        </div>
    </ion-content>
</ion-view>
