<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar>
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" drag-content="false">
            <button class="button button-full" ng-class="{'button-energized' : ocupado, 'button-assertive' : !ocupado}" ng-click="ocupado= !ocupado">Ocupado</button>
        <ion-content class="has-header my-menu">
            <div ng-repeat="parada in paradas | orderBy:'prioridad':true track by parada.id">
                <ion-list>
                    <ion-item class="item item-icon-left paradaheader" nav-clear menu-close>
                        <h3>{{parada.parada}}</h3>
                    </ion-item>
                    <ion-item class="item item-icon-left" ng-repeat="socio in parada.ubicados" nav-clear menu-close>
                        <h4><i class="ion-model-s"></i> Taxi Nº{{socio.numerotaxi}}</h4>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
