<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-tabs class="tabs-top tabs-energized">
            <ion-tab title="Mapa" icon="ion-location">
            </ion-tab>
            <ion-tab title="Noticias" icon="ion-chatbubbles">
            </ion-tab>
            <ion-tab title="Voz" icon="ion-mic-c">
            </ion-tab>
            <ion-tab title="Clientes" icon="ion-person-stalker">
            </ion-tab>
        </ion-tabs><ion-nav-view name="menuContent">
</ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>
