<div class="modal">
    <header class="bar bar-header bar-energized fixed">
        <h1 class="title">Servicio Entrante</h1>
        <div class="button button-clear" ng-click="modalPedir.hide()"><span class="icon ion-close"></span></div>
    </header>
    <content has-header="true" padding="true">
        <div>
            <img id="modalmapa" ng-src="{{localizacion}}">
            <div class="list padding">
                <label class="item item-input">
                    <i class="icon ion-ios-locked placeholder-icon"></i>
                    <input type="text" placeholder="Recogida" ng-model="recogidaText" disabled>
                </label>
                <label class="item item-input">
                    <i class="icon ion-location placeholder-icon"></i>
                    <input type="text" placeholder="No seleccionó destino" ng-model="destinoText" disabled>
                </label>
            </div>
            <div class="item item-icon-left">
                <h6>Hora de recogida:</h6>
                <i class="ion-clock positive"></i> <strong> {{datetimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
            </div>

            <div class="list margintop">
                <a class="item item-icon-right" href="#" ng-class="{opcionactiva:servicio.discapacitado}">
                    Discapacitado
                    <i class="icon ion-ios-body"></i>
                </a>
                <a class="item item-icon-right" ng-class="{opcionactiva:servicio.animal}" href="#" >
                    Mascota
                    <i class="icon ion-ios-paw"></i>
                </a>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{servicio.progressValue}}"
                     aria-valuemin="0" aria-valuemax="10" style="{{servicio.progresstyle}}">
                </div>
            </div>
            <button class="button midbutton button-assertive" ng-click="rechazar(recogidaText,destinoText,servicio.mascota,servicio.discapacitado,datetimeValue)">Rechazar</button>
            <button class="button midbutton button-energized" ng-click="aceptar(recogidaText,destinoText)">Aceptar</button>
        </div>
    </content>
</div>
