<ion-view view-title="Listado de ofertas" hide-nav-bar="true">
    <ion-content bindonce scroll="false">
        <!-- End controls-->
        <div id="mapa"></div>
        <div class="row bar-header head" ng-if="!ocupado">
            <div class="col-xs-3 col-md-3">
                <button id="" class="button button-light radius" ng-click="toggleLeft()"><i class="ion-navicon-round"></i></button>
            </div>
            <div class="col-xs-6 col-md-6 ubicacionspace">
                <div class="button ubicacionicon button-energized" ng-class="{'deshabilitado' : ubicarDisponible.disabled, 'desubicar' : ubicadoText == 'Desubicar'}" ng-click="ubicar()">
                    <i class="ion-location"></i>
                </div>
                <button class="button ubicacion button-energized" ng-class="{'deshabilitado' : ubicarDisponible.disabled, 'desubicar' : ubicadoText == 'Desubicar'}" ng-click="ubicar()">{{ubicadoText}}</button>
            </div>
            <div class="col-xs-3 col-md-3">
                <button class="button button-light right radius" ng-click="modal()"><i class="ion-person"></i></button>
            </div>
        </div>


        <div id="seccionmapa">
            <button class="button button-assertive" on-hold="itemOnLongPress()" on-release="itemOnTouchEnd()"><i class="ion-mic-a"></i></button>
            <div ng-if="ocupado">
                <button class="button button-energized midbutton">Hablarle al cliente</button>
                <button class="button button-balanced midbutton" ng-click="resolver()">Resolver Servicio</button>
            </div>
        </div>
    </ion-content>
</ion-view>
