<ion-view class="navbarheader" view-title="Listado de ofertas" hide-nav-bar="true">
    <ion-content scroll="false">

        <div id="lateral">
            <h3 class="titulo">Global</h3>
            <ul class="listadomapa">
                <li ng-repeat="socio in socios | orderBy:'puestoglobal':false"><i class="ion-model-s"></i> Taxi {{socio.numerotaxi}}</li>
            </ul>
            <div ng-repeat="parada in paradas">
                <h3 class="titulo">{{parada.parada}}</h3>
                <ul class="listadomapa">
                    <li ng-repeat="socio in parada.ubicados | orderBy:'puestolocal':true"><i class="ion-model-s"></i> Taxi {{socio.numerotaxi}}</li>
                </ul>
            </div>
            <button class="button button-block button-dark" ng-click="ubicar()" ng-disabled="{{ubicarDisponible.disabled}}">
                Ubicar
            </button>
            <button class="button button-block button-dark" ng-click="prueba()">
                Prueba
            </button>
            </button>
        </div>
        <!-- End controls-->
        <div id="mapa"></div>
        <div id="mic">
            <a on-release="stopRecord()" on-hold="record()"><img ng-src="{{recordImg}}"></a>
        </div>

    </ion-content>
</ion-view>
