<ion-view class="navbarheader" view-title="Listado de ofertas" hide-nav-bar="true">
    <ion-content scroll="false">

        <div id="lateral">
            <button class="button button-block button-dark" ng-click="ubicar()" ng-class="{'deshabilitado' : ubicarDisponible.disabled, 'desubicar' : ubicadoText == 'Desubicar'}">
                {{ubicadoText}} {{ubicarDisponible.disabled}}
            </button>
            <div ng-repeat="parada in paradas | orderBy:'prioridad':true">
                <h5 class="titulo">{{parada.parada}}</h5> prioridad {{parada.prioridad}}
                <ul class="listadomapa">
                    <li ng-repeat="socio in parada.ubicados"><i class="ion-model-s"></i> Taxi {{socio.numerotaxi}}</li>
                </ul>
            </div>

        </div>
        <!-- End controls-->
        <div id="mapa"></div>
        <div id="mic">
            <a ng-click="record()"><img ng-src="{{recordImg}}"></a>
        </div>

    </ion-content>
</ion-view>
