<?xml version='1.0' encoding='utf-8'?>
<widget id="com.taxiapp.controlador" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="Fullscreen" value="true" />
    <name>TaxiAlcantarilla</name>
    <description>
            Taxis en Alcantarilla
        </description>
    <author email="javier.ifer@gmail.com" href="">
            Javier Iniesta Fernandez
        </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="orientation" value="portrait/landscape" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
</widget>
