<ion-view view-title="Descubra nuestros descuentos" class="lightblue">
    <ion-content>
<div class="registro1">
    <h2>Bienvenido a la app de Radio Taxi Alcantarilla</h2> Nos gustaría saber como te llamas para poder dirigirnos a tí correctamente. Nombre *
    <input class="textbox" type="text" ng-model="nombre"> Apellidos
    <input class="textbox" type="text" placeholder="Apellidos" ng-model="apellidos">
    <button class="button button-block button-positive">
        Siguiente
    </button>
    *Información necesaria
</div>
<div class="registro3">
    Necesitamos tu correo por si tenemos que contactar contigo por algo importante. Correo *
    <input class="textbox" type="email" placeholder="correo" ng-model="correo">
    <ion-checkbox ng-model="spam">¡No quiero nada de ofertas o noticias!</ion-checkbox>
    <button class="button button-block button-calm">
        Siguiente
    </button>
    *Información necesaria
</div>
<div class="registro3">
    Tu telefono es importante para que el taxista pueda contactar contigo por cualquier problema. Telefono *
    <input class="textbox" type="number" ng-model="telefono">
    <button class="button button-block button-balanced">
        Siguiente
    </button>
    *Información necesaria
</div>

<div class="registro4">
    <h2>No te molestamos más, ya estas registrad@ correctamente</h2>
    <button class="button button-block button-energized">
        Descubrir la app
    </button>
</div>
    </ion-content>
</ion-view>
