#map {
    width: 100%;
    height: 100%;
}

#contenedormapa {
    height: 300px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.oculto {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 1s ease-in;
    /* Changed here */
    -moz-transition: -moz-transform 1s ease-in;
    -o-transition: -o-transform 1s ease-in;
    transition: transform 1s ease-in;
    position: absolute;
}

.mostrado {
    -webkit-transition: -webkit-transform 1s ease-in;
    /* Changed here */
    -moz-transition: -moz-transform 1s ease-in;
    -o-transition: -o-transform 1s ease-in;
    transition: transform 1s ease-in;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    position: absolute;
}

.scroll {
    height: 100%;
}


/* Global */

.lightblue {
    background-color: #6BABC7;
}

.overlightblue {
    background-color: #83D1F2;
}

.textbox {
    position: relative;
    top: 30px;
    padding-left: 5px;
    width: 100%;
    margin-bottom: 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/* Menu */

.menues {
    text-align: center;
    vertical-align: text-bottom;
    width: 100%;
    min-width: 100%;
    height: auto;
}

.my-menu .item,
.my-menu .item-content,
.my-menu .item-complex {
    background-color: transparent;
    color: #000;
}

#contenedor {
    height: 40%;
}


/* inicio*/

#inicio_contenedor {
    width: 90%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    height: 6em;
    background: #FFFFFF;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

#inicio_contenedor button {
    height: 2em;
    top: 0.5em;
    font-size: 2em;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

#inicio_contenedor button:hover {
    opacity: .5;
}


/* inicio*/


/* login */

#login_contenedor {
    width: 90%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    height: 140px;
    background: #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#login_contenedor button {
    top: 30px;
    width: 49%;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#login_contenedor button:hover {
    opacity: .5;
}


/*login */

#login_contenedor input {
    border: #F1F1F1 2px solid;
}

.imglogin {
    width: 100%;
    height: 60%;
}

@media only screen and (min-device-height: 568px) {
    .imglogin {
        width: 100%;
        height: 320px;
    }
}


/* Registro */

#imgregistro {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 120px;
    display: block;
    margin: 0 auto;
    clear: right;
}

#mapa {
    height: 100%;
    width: 100%;
}

#mifarma_contenedor {
    position: relative;
    width: 98%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    padding-bottom: 10px;
    background: #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#mifarma_contenedor input {
    border: #F1F1F1 2px solid;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px:
}

#mifarma_contenedor button {
    position: relative;
    border: #F1F1F1 2px solid;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#registro_contenedor {
    position: relative;
    width: 98%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    padding-bottom: 10%;
    background: #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#registro_contenedor button {
    position: relative;
    top: 30px;
    border: #F1F1F1 2px solid;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#registro_contenedor input {
    border: #F1F1F1 2px solid;
}


/* MOSTRADOR DE OFERTAS */

.rojomostrador {
    margin-top: 5px;
    height: 45px;
    background-color: #BF0808;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.rojomostrador img {
    position: absolute;
    right: 0px;
    max-height: 52px;
}

.verticalcenter {
    position: absolute;
    font-size: 16px;
    margin: 10px;
    color: white;
    white-space: nowrap;
}

.simbolodescuento {
    margin-top: 16px;
    color: #D4A304;
    font-size: 20px;
}

.caducidad {
    margin-top: 5px;
    font-size: 10px;
}

.seccionoferta {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
}

.relleno {
    height: 120px;
    position: relative;
    width: 100%;
}

.imgofertamostrador {
    height: 100%;
    position: absolute;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    width: 30%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.secciontexto {
    float: right;
    height: 100%;
    margin-left: 30%;
    position: absolute;
    top: 10px;
    width: 65%;
}

.carrusel {
    height: 100%;
    background: white;
    text-align: center;
    border-radius: 5px;
    max-width: 100%;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}


/*  DETALLE OFERTA */

.description {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    height: 51px;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    top: 250px;
    width: 100%;
}

.tabsdisponi {
    background: #11c1f3;
    color: white;
}

.seccionOpciones {
    margin-bottom: 80px;
}

.seccionacciones {
    margin: 10px;
}

.seccionacciones > .button.button-energized {
    width: 45%;
    border-radius: 15px;
}

.seccionacciones > .button.button-calm {
    width: 45%;
    position: absolute;
    right: 10px;
    border-radius: 15px;
}

.right {
    position: absolute;
    right: 15px;
}

.opcionestitle {
    background: transparent !important;
    color: white !important;
}

.item-stable.opcionestitle.item.active {
    color: lightgray !important
}

.opcionesdesc > button {
    font-size: 2em;
    color: white;
}

.social > button {
    margin: 2%;
    width: 20%;
}

.detalleimagenproducto {
    height: 300px;
    max-height: 300px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

.imgcampain {
    height: 300px;
    margin: 0 auto;
    max-height: 300px;
    position: absolute;
    left: 0;
    right: 0;
}

.carrusel_detalle {
    height: 100%;
    background: white;
    text-align: center;
}

.titulodetalle {
    background-color: #487386;
    color: white;
    text-align: center;
    font-size: 14px;
}

.contenedor_detalle {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    height: 140px;
    background: #FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.descripcionLarga {
    position: absolute;
    height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.condiciones {
    font-size: 0.8em;
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-align: center;
}

.leermas {
    width: 100%;
    position: relative;
    top: 122px;
    text-align: center;
    color: blue;
}

.componente_img {
    border: 5px solid #E3E3E3;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.cuponimg {
    width: 100%;
}

.barcode {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

@media (min-height:630px) {
    #inicio_contenedor {
        margin-top: 6em;
        margin-bottom: 85px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2%;
        padding-right: 2%;
        height: 8em;
        background: #FFFFFF;
        -moz-border-radius: 15px;
        border-radius: 35px;
    }
    #inicio_contenedor button {
        height: 2em;
        top: 1em;
        font-size: 2em;
        -moz-border-radius: 5px;
        border-radius: 35px;
    }
    .mid {
        background: red;
        color: orange;
        width: 30%;
    }
    /* inicio*/
    /* login */
    #login_contenedor {
        width: 90%;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2%;
        padding-right: 2%;
        height: 140px;
        background: #FFFFFF;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    #login_contenedor button {
        top: 30px;
        width: 49%;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    #login_contenedor input {
        border: 1px lightgray solid;
        padding-left: 5px;
    }
}
